html, body { margin: 0px; padding: 0px; }

body { overflow: hidden; }

.content { margin: 40px; }

.body { position: relative; width: 180px; height: 325px; margin: 0px auto; border-radius: 85px 85px 0 0; box-shadow: inset 0 -10px 10px 3px #cc9e24; background-color: #fcda6d; background: -webkit-gradient(linear, right top, left top, color-stop(61%, #fcda6d), color-stop(100%, #cc9e24)); background: -webkit-linear-gradient(right, #fcda6d 76%, #cc9e24 100%); background: linear-gradient(to right, #fcda6d 67%, #cc9e24 100%); }

.hair { padding: 0px; }

.hair li { position: absolute; top: -1px; left: 50%; width: 5px; height: 45px; margin: 10px; list-style: none; border: solid 2px #555; border-radius: 140%; z-index: 2; }

.hair-left li { border-left: none; border-bottom: none; }

.hair-left li:nth-child(1) { margin: 20px 0 0 -60px; transform: rotate(-20deg); }

.hair-left li:nth-child(2) { height: 30px; margin: 45px 0 0 -75px; transform: rotate(-50deg); }

.hair-left li:nth-child(3) { height: 36px; margin: 15px 0 0 -35px; transform: rotate(-10deg); }

.hair-left li:nth-child(4) { height: 26px; margin: 35px 0 0 -13px; transform: rotate(-20deg); }

.hair-right li { border-right: none; border-bottom: none; }

.hair-right li:nth-child(1) { margin: 23px 0 0 60px; transform: rotate(20deg); }

.hair-right li:nth-child(2) { height: 30px; margin: 45px 0 0 74px; transform: rotate(50deg); }

.hair-right li:nth-child(3) { height: 36px; margin: 15px 0 0 35px; transform: rotate(10deg); }

.hair-right li:nth-child(4) { height: 34px; margin: 20px 0 0 13px; transform: rotate(20deg); }

.glasses { width: 180px; }

.band, .band-left:before, .band-right:before { position: relative; display: block; width: 17px; height: 10px; background-color: #222; border-radius: 3px; box-shadow: 0 1px 5px 0px #222; }

.band-left { top: 96px; left: -5px; transform: rotate(-5deg); }

.band-left:before { content: ' '; display: block; top: 10px; background: #333; }

.band-right { top: 89px; left: 168px; transform: rotate(5deg); }

.band-right:before { content: ' '; display: block; top: 10px; background: #333; }

.glass { float: left; width: 85px; height: 85px; margin: 40px 0 0 10px; border-radius: 110px; background: linear-gradient(#989697, #696371); box-shadow: inset 0 -2px 2px #5d4b3d, inset -1px 1px 3px 1px #fff, 1px 5px 7px -1px #c48300; }

.glass:before { content: ' '; display: block; width: 65px; height: 65px; position: relative; top: 10px; left: 10px; background-color: #fcda6d; border-radius: 70px; box-shadow: inset 0 2px 4px 1px #5d4b3d; }

.glass:after { content: ' '; width: 63px; height: 50px; display: block; position: relative; left: 11px; top: -73px; border-radius: 70px; background: #FFF; background: -webkit-gradient(linear, left bottom, right top, color-stop(0, 54, #fff), color-stop(0.91, #AAA)); background: -webkit-linear-gradient(left, bottom, right top, #FFF 54%, #AAA 91%); background: linear-gradient(to left bottom, #FFF 53%, #AAA 91%); }

.glass:last-child { margin-left: -9px; }

.iris { width: 23px; height: 23px; position: relative; top: -30px; border: 1px solid #222; background-color: #000; box-shadow: inset -2px -2px 5px 2px #222, inset 2px 2px 1px 2px #7e4d49; background: -webkit-radial-gradient(center, ellipse cover, #000 25%, #6f4a2d 34%, #c79067 44%, #6f4a2d 50%); z-index: 10; border-radius: 30px; }

.iris:before { content: ' '; display: block; width: 5px; height: 5px; position: relative; top: 4px; height: 4px; background-color: #fff; border-radius: 50%; box-shadow: 0 0 5px 2px #fff; z-index: 11; }

.iris-left { left: 38px; }

.iris-right { left: 23px; }

.mouth { width: 70px; height: 30px; margin: 0px auto; position: relative; top: -155px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; border: 0px; background-color: #222; background: -webkit-gradient(linear, 0, 0, 0 100%, from(#222), color-stop(0.79, #bd736a)); background: -webkit-linear-gradient(#222, #bd736a 99%); background: linear-gradient(#222, #bd736a 99%); overflow: hidden; z-index: 2; }

.mouth:after { content: ''; display: block; position: relative; top: -50px; left: -21px; width: 120px; height: 40px; border-radius: 50%; background-color: #fcda6d; border-shadow: inset 0 0 3px 1px #957b43; }

.teeth { width: 90px; padding: 0 5px; position: relative; top: -19px; }

.teeth li { display: block; float: left; width: 16px; height: 15px; list-style: none; z-index: 1px; border-radius: 6px; background-color: #ccccc2; box-shadow: inset 0 -1px 1px 1px #FFF, inset -1px 0 1px 0px #F45; }

.teeth li:first-child { height: 12px; }

.teeth li:last-child { height: 12px; }

.pants { width: 180px; height: 50px; margin: 0 auto; position: relative; z-index: 2; top: -58px; border-radius: 2px 2px 25px 25px; background-color: #146696; background: -webkit-linear-gradient(left, #146696 67%, #115278 100%); border: 2px dotted #1f4362; box-shadow: inset 1px -10px 10px 2px #1a364d, 0 0 2px 2px #2e5f88; }

.pants:before { content: ' '; width: 120px; height: 60px; display: block; position: relative; top: -50px; left: 40px; border: 2px dotted #1f4362; border-bottom: none; border-radius: 10px; background-color: #146696; background-image: -webkit-gradient(linear, left, color-stop(67%, #146696), color-stop(100%, #115278)); background-image: -webkit-linear-gradient(left, #146696 76%, #115278 100%); background-image: linear-gradient(left, #146696 67%, #115278 100%); box-shadow: 0 -3px 2px 2px #2e5f88; }

.belt { position: relative; width: 15px; height: 75px; background-color: #146696; box-shadow: inset 1px 10px 10px 2px #1a364d; }

.belt:after { content: ''; display: block; width: 10px; height: 10px; border-radius: 50%; background: #223333; position: absolute; bottom: 5px; left: 2px; }

.belt-left { top: -160px; left: 18px; border: 2px dotted #1f4362; border-top-left-radius: 25px; -webkit-transform: rotate(-55deg); transform: rotate(-55px); }

.belt-right { height: 60px; top: -230px; left: 158px; border: 2px dotted #1f4362; border-top-right-radius: 25px; -webkit-transform: rotate(35deg); transform: rotate(35deg); }

.arm { width: 20px; height: 100px; margin: 0 auto; position: relative; z-index: 2; border-radius: 10px; background-color: #FFD449; }

.arm:after { content: ''; display: block; width: 22px; height: 20px; position: relative; border-radius: 6px; background-color: #FFD449; }

.arm-right { height: 115px; top: -276px; left: 95px; box-shadow: inset 0 10px 10px 3px #D5970E; z-index: 1; -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }

.arm-right:after { z-index: 3; top: 55px; left: -2px; box-shadow: inset -3px -6px 5px 1px #D5970E; -webkit-transfrom: rotate(15deg); transform: rotate(15deg); }

.arm-left { top: -159px; left: -104px; -webkit-transfrom: rotate(10deg); transform: rotate(10deg); }

.arm-left:after { content: ''; z-index: 3; top: -14px; -webkit-transfrom: rotate(-15deg); transform: rotate(-15deg); }

.arm-left:before { content: ''; display: block; width: 21px; height: 40px; position: relative; top: -18px; border-radius: 50%; background: #FFD449; -webkit-transform: rotate(10deg); transform: rotate(10deg); }

.hand { height: 40px; width: 35px; position: relative; z-index: 1; top: 35px; left: 0px; border-radius: 30%; box-shadow: inset 0 -2px 10px 5px #222; background-color: #333; -webkit-transfrom: rotate(-20deg); transform: rotate(-20deg); }

.hand:before { content: ''; display: block; position: relative; z-index: 1; top: -5px; left: -3px; width: 30px; height: 9px; background-color: #111; border: 5px solid #222; border-radius: 50%; box-shadow: 0 4px 1px 0 #444; }

.hand:after { content: ''; display: block; position: relative; z-index: 1; top: -100px; left: 1px; width: 34px; height: 30px; background-color: #333; border-radius: 50%; box-shadow: inset 0 -10px 10px 5px #222; -webkit-transfrom: rotate(5deg); transform: rotate(5deg); }

.arm-right .hand { top: 105px; left: -15px; -webkit-transfrom: rotate(20deg); transform: rotate(20deg); }

.arm-left .hand:after { height: 30px; width: 30px; left: 3px; top: -110px; }

.fingers { list-style: none; position: relative; top: 10px; }

.fingers li { border-radius: 10px; position: relative; background-color: #333; box-shadow: inset 0 -10px 10px 5px #222; }

.fingers-right li:nth-child(1) { z-index: 2; width: 20px; height: 35px; top: -20px; left: -50px; border-right: 2px solid #000; -webkit-transfrom: rotate(50deg); transform: rotate(50deg); }

.fingers-right li:nth-child(2) { z-index: 2; width: 20px; height: 30px; top: -50px; left: -40px; border-right: 2px solid #000; -webkit-transfrom: rotate(40deg); transform: rotate(40deg); }

.fingers-left li:nth-child(1) { z-index: 2; width: 25px; height: 25px; top: -17px; left: -43px; border-right: 2px solid #000; border-radius: 30px; -webkit-transfrom: rotate(10deg); transform: rotate(10deg); }

.fingers-left li:nth-child(2) { z-index: 1; width: 20px; height: 24px; top: -50px; left: -18px; border-right: 2px solid #000; -webkit-transfrom: rotate(-30deg); transform: rotate(-30deg); }

.fingers-left li:nth-child(3) { z-index: 1; width: 23px; height: 30px; top: -63px; left: -33px; border-right: 2px solid #000; -webkit-transfrom: rotate(0deg); transform: rotate(0deg); }

.legs { width: 120px; margin: 0 auto; }

.legs .leg { width: 40px; height: 35px; display: inline-block; position: relative; top: -276px; left: 20px; background-color: #146696; border-radius: 30%; box-shadow: inset 1px 10px 2px #222; z-index: 1; }

.shoes { position: relative; margin: 0px auto; box-shadow: inset -2px 1px 10px 1px #666; background-color: #222; z-index: 1; }

.shoes.shoes-left { width: 40px; height: 30px; top: -293px; left: -20px; border-radius: 20px; box-shadow: inset 0 -3px 3px 1px #999; z-index: 0; }

.shoes.shoes-left:after { content: " "; display: block; width: 40px; height: 20px; position: relative; top: 5px; border-bottom: 7px solid #222; border-radius: 30px; }

.shoes.shoes-right { width: 50px; height: 20px; top: -320px; left: 30px; border-radius: 20px; border-right: 1px solid #000; box-shadow: inset -1px 1px 5px 1px #999; z-index: 0; -webkit-transform: rotate(10deg); transform: rotate(10deg); }

.shoes.shoes-right:after { content: " "; display: block; width: 50px; height: 20px; position: relative; top: -3px; border-bottom: 7px solid #111; border-radius: 20px; }
